<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sombras</title>
    <style>
        .a {
            text-shadow: 2px 2px red;
        }

        .b {
            text-shadow: 0 0 3px red, 0 0 5px blue;
        }

        .c {
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 5px 10px 10px gray;
            width: 100px;
        }

        body {
            background: limegreen url("../../src/html.png") no-repeat center fixed;
        }
    </style>
</head>

<body>
    <h1 class="a">Sombra en texto</h1>
    <h1 class="b">Sombra neon con azul y rojo</h1>

    <div class="c">
        <p>Algun texto</p>
    </div>

    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
    <p>Algun texto</p>
</body>

</html>